*{
    padding: 0;
    margin: 0;
}

.place_main{
    background-image: url('https://a-static.besthdwallpaper.com/pan-pizza-wallpaper-3840x2160-3212_54.jpg');
    
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 30%;
    height: 70vh;
    border: 1px solid red;
}

